Hope the following indications can help
- Please keep in mind that I only compare the context with the titles and abstracts of the papers in my dataset, so send me a sentence that summarizes the paper you want to find would lead to a better recommendation.
- To find a specific paper with some proper nouns, I strongly recommend you to search them by keywords, instead of using !rec command.