{
	"type": "modal",
	"private_metadata": "{\"channel\": {{channel_id}}}",
	"callback_id": "warning",
	"title": {
		"type": "plain_text",
		"text": "Warning",
		"emoji": true
	},
	"submit": {
		"type": "plain_text",
		"text": "Yes",
		"emoji": true
	},
	"close": {
		"type": "plain_text",
		"text": "No",
		"emoji": true
	},
	"blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "*This operation is irreversible*\nAre you sure you want to delete all the papers in your marking list?"
			}
		}
	]
}