{
	"blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Hello, my name is CitBot. I can recommend papers, search papers based on keywords, manage a paper list and generate BibTeX docs for papers in the list. Please using following commands:"
			}
		},
		{
			"type": "divider"
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "*❗ !rec <citation context>*\n*I will find some related papers for the context based on their semantics.*\nFor example, send me \"!rec citation recommendation using machining learning methods\".\n Send me a sentence that summarizes the paper you want to find would lead to a better recommendation."
			}
		},
		{
			"type": "divider"
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "*❗ !kw <keywords>*\n* I will find some papers containing the keywords in their title.*\nFor example, send me \"!kw citation recommendation\"."
			}
		},
		{
			"type": "divider"
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "*❗ !list*\n*I will send you the marking list, where you can find all the papers you have marked, and get the BibTeX document by clicking the \"Generate BibTex\" button.*"
			}
		},
		{
			"type": "divider"
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "If you found some papers in the result message are with wrong information, you can send feedback by clicking the *\"Send feedback\" button* in the result message. Moreover, if you have other suggestions, you can also write them in the feedback window. I am glad to receive your feedback and make myself more powerful."
			}
		}
	]
}